<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Debug</title>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body class="content">
  <h1 class="title">Welcome to HalfMoon!</h1>
  <% @users.each do |user| %>
  <%="id: #{user[:id]}, name: #{user[:name]}, pass: #{user[:pass]}<br />"%>
  <% end %>
  <h2><%= (session[:hoge].nil? ? 'Sessionはありません' : session[:hoge]) %></h2>
  <h2><%= @action[:Class] %>#<%= @action[:Method] %></h2>
  <div class="inline">
    <section>
      <h3>Path Parameters:</h3>
      <% unless @paths.nil? %>
        <% @paths.each do |k, v| %>
          <% k = k.to_s if k.is_a?(Symbol) %>
          <code><%= k + ' => ' + v %></code><br />
        <% end %>
      <% end %>
    </section>
    <section>
      <h3>GET Data:</h3>
      <% unless @get.nil? %>
        <% @get.each do |k, v| %>
          <% k = k.to_s if k.is_a?(Symbol) %>
          <code><%= k + ' => ' + v %></code><br />
        <% end %>
      <% end %>
    </section>
    <section>
      <h3>POST Data:</h3>
      <% unless @post.nil? %>
        <% @post.each do |k, v| %>
          <% k = k.to_s if k.is_a?(Symbol) %>
          <code><%= k + ' => ' + v %></code><br />
        <% end %>
      <% end %>
    </section>
  </div>
  <% render :html, 'layout/footer' %>
</body>
</html>
